<?xml version="1.0"?>
<configuration>
	<!--
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
			 propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\_CODEPLEX\Minima\Service\Web_messages.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="C:\_CODEPLEX\Minima\Service\Web_tracelog.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	-->
	<appSettings>
		<add key="DefaultServiceUserName" value="jdoe@tempuri.org"/>
		<add key="DefaultServicePassword" value="blogpassword"/>
		<!---->
		<add key="ForceSpecifiedPath" value="true"/>
		<add key="ViewableBlogEntryCount" value="7"/>
		<add key="EnableEnhancedGmailSubjects" value="true"/>
		<add key="RecentEntriesToShow" value="10"/>
		<add key="BlogEntriesToShowInFeed" value="7"/>
		<add key="LinkAuthorToEmail" value="true"/>
		<add key="CommentNotificationSubject" value="New Comment on Blog"/>
		<add key="IncludeSiteNameInCommentNotificationSubject" value="true"/>
		<add key="SiteName" value="Minima Marketing Solutions"/>
		<!---->
		<add key="Domain" value="http://localhost:7001/"/>
		<add key="SiteName" value="Minima Solution"/>
		<add key="GenericErrorMessage" value="An error has occured.  The proper channels have been notified of this error and should have the problem resolved shortly."/>
		<!-- For the ExceptionManager in Themelia -->
		<add key="Subject" value="SampleSolution Notification"/>
		<add key="FromEmailAddress" value="no-reply@tempuri.org"/>
		<add key="ToEmailAddress" value="fakeaddress@tempuri.org"/>
		<add key="SmtpServer" value="127.0.0.1"/>
		<add key="SmtpUserName" value="usernamehidden"/>
		<add key="SmtpPassword" value="passwordhidden"/>
		<add key="AlwaysUseSecureGmail" value="false"/>
		<!---->
		<add key="ActiveAuthorServiceEndpoint" value="AuthorServiceWs2007HttpBinding"/>
		<add key="ActiveBlogServiceEndpoint" value="BlogServiceWs2007HttpBinding"/>
		<add key="ActiveCommentServiceEndpoint" value="CommentServiceWs2007HttpBinding"/>
		<add key="ActiveImageServiceEndpoint" value="ImageServiceWs2007HttpBinding"/>
		<add key="ActiveLabelServiceEndpoint" value="LabelServiceWs2007HttpBinding"/>
	</appSettings>
	<connectionStrings>
		<add name="Minima.Service.Properties.Settings.MinimaConnectionString" connectionString="Data Source=IO88\SQLEXPRESS01;Initial Catalog=Minima;Persist Security Info=True;User ID=MinimaSvcDbUser;password=dbsvcpassword" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/warnaserror-">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optioninfer+">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.web>
		<compilation>
			<assemblies>
				<add assembly="*" />
			</assemblies>
		</compilation>
	</system.web>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<bindings>
			<ws2007HttpBinding>
				<binding name="MinimaSecureWs2007HttpBinding">
					<readerQuotas maxArrayLength="500000" />
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</ws2007HttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MinimaServiceBehavior">
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Minima.Service.Validation.MinimaUserNamePasswordValidator, Minima.ServiceImpl"/>
						<!---->
						<serviceCertificate findValue="ServerSide" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
						<!---->
						<clientCertificate>
							<authentication certificateValidationMode="PeerTrust"/>
						</clientCertificate>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:7003/Author.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService" name="AuthorServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Blog.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService" name="BlogServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Comment.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService" name="CommentServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Label.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService" name="LabelServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Technorati.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService" name="TechnoratiServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
		</client>
		<services>
			<!---->
			<service name="Minima.Service.AuthorService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService"/>
			</service>
			<!---->
			<service name="Minima.Service.BlogService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService"/>
			</service>
			<!---->
			<service name="Minima.Service.CommentService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService"/>
			</service>
			<!---->
			<service name="Minima.Service.ImageService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IImageService"/>
			</service>
			<!---->
			<service name="Minima.Service.LabelService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService"/>
			</service>
			<!---->
			<service name="Minima.Service.TechnoratiService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>