<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia" />
  </configSections>
  <appSettings configSource="Config_\AppSettings.config"></appSettings>
  <connectionStrings configSource="Config_\ConnectionStrings.config"></connectionStrings>
  <themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
  <system.diagnostics configSource="Config_\Diagnostics.config"></system.diagnostics>
  <system.codedom configSource="Config_\CodeDom.config"></system.codedom>
	<system.web>
		<compilation>
			<assemblies>
				<add assembly="*" />
			</assemblies>
		</compilation>
	</system.web>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<bindings>
      <ws2007HttpBinding>
        <binding name="MinimaSecureWs2007HttpBinding" maxReceivedMessageSize="5000000">
          <readerQuotas maxArrayLength="5000000" maxStringContentLength="5000000" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </ws2007HttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MinimaServiceBehavior">
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Minima.Service.Validation.MinimaUserNamePasswordValidator, Minima.ServiceImpl"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:7003/Author.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService" name="AuthorServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Blog.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService" name="BlogServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Comment.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService" name="CommentServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Label.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService" name="LabelServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Technorati.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaServiceWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService" name="TechnoratiServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
		</client>
		<services>
			<!---->
			<service name="Minima.Service.AuthorService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService"/>
			</service>
			<!---->
			<service name="Minima.Service.BlogService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService"/>
			</service>
			<!---->
			<service name="Minima.Service.CommentService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService"/>
			</service>
			<!---->
			<service name="Minima.Service.ImageService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IImageService"/>
			</service>
			<!---->
			<service name="Minima.Service.LabelService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService"/>
			</service>
			<!---->
			<service name="Minima.Service.TechnoratiService" behaviorConfiguration="MinimaServiceBehavior">
				<endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>