<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Minima.Service.Properties.Settings.MinimaConnectionString"
            connectionString="Data Source=io\sqlexpress01;Initial Catalog=Minima;Persist Security Info=True;User ID=MinimaSvcDbUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>