<connectionStrings>
  <add name="Minima.Service.Properties.Settings.MinimaConnectionString" connectionString="Data Source=DEDO204\SQLEXPRESS02;Initial Catalog=MinimaSample;Persist Security Info=True;User ID=MinimaSvcDbUser;password=dbsvcpassword" providerName="System.Data.SqlClient"/>
</connectionStrings>