<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia" />
		<section name="themelia.web" type="Themelia.Web.Configuration.WebSection, Themelia.Web" />
	</configSections>
  <appSettings configSource="Config_\AppSettings.config"></appSettings>
  <connectionStrings configSource="Config_\ConnectionStrings.config"></connectionStrings>
  <themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
  <themelia.web configSource="Config_\Themelia.Web.config"></themelia.web>
  <!--<system.diagnostics configSource="Config_\Diagnostics.config"></system.diagnostics>-->
  <system.codedom configSource="Config_\CodeDom.config"></system.codedom>
  <system.web>
		<customErrors mode="Off"/>
		<httpModules>
			<add name="FixDomainHttpModule" type="Minima.Web.Module.FixDomainHttpModule, Minima.Web"/>
			<add name="Routing" type="Themelia.Web.Routing.RoutingModule, Themelia.Web"/>
		</httpModules>
		<compilation debug="true">
			<assemblies>
				<add assembly="*" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<pages validateRequest="false" enableViewState="false">
			<controls>
				<add assembly="Minima.Web" namespace="Minima.Web.Controls" tagPrefix="minima"/>
			</controls>
		</pages>
	</system.web>
	<system.serviceModel>
		<!--<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>-->
		<bindings>
			<ws2007HttpBinding>
				<binding name="MinimaSecureWs2007HttpBinding" maxReceivedMessageSize="5000000">
					<readerQuotas maxArrayLength="5000000" maxStringContentLength="5000000" />
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</ws2007HttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="JsonCommentServiceBehavior">
					<webHttp />
				</behavior>
				<!---->
				<behavior name="FeedEndpointBehavior">
					<webHttp/>
				</behavior>
				<!---->
				<behavior name="MinimaClientWs2007HttpBehavior">
					<clientCredentials>
						<clientCertificate findValue="ClientSide" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
						<serviceCertificate>
							<authentication certificateValidationMode="PeerTrust"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<!--for wpf captcha-->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<client>
			<endpoint address="http://localhost:7003/Author.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService" name="AuthorServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Blog.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService" name="BlogServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Image.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IImageService" name="ImageServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Comment.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService" name="CommentServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Label.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService" name="LabelServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
			<!---->
			<endpoint address="http://localhost:7003/Technorati.svc" binding="ws2007HttpBinding" behaviorConfiguration="MinimaClientWs2007HttpBehavior" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService" name="TechnoratiServiceWs2007HttpBinding">
				<identity>
					<dns value="ServerSide"/>
				</identity>
			</endpoint>
		</client>
		<services>
			<service name="Minima.Web.Service.CommentService">
				<endpoint address="web" behaviorConfiguration="JsonCommentServiceBehavior" binding="webHttpBinding" contract="Minima.Web.Service.ICommentService"/>
			</service>
			<!---->
			<service name="Minima.Web.Service.FeedService">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="FeedEndpointBehavior" contract="Minima.Web.Service.IFeedService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>