<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="themelia.system" type="Themelia.Configuration.SystemSection, Themelia" />
    <section name="themelia.web" type="Themelia.Web.Configuration.WebSection, Themelia.Web" />
    <section name="minima.blog" type="Minima.Configuration.BlogSection, Minima.Configuration" />
  </configSections>
  <appSettings configSource="Config_\AppSettings.config"></appSettings>
  <themelia.system configSource="Config_\Themelia.System.config"></themelia.system>
  <themelia.web configSource="Config_\Themelia.Web.config"></themelia.web>
  <minima.blog configSource="Config_\Minima.Blog.config"></minima.blog>
  <system.diagnostics configSource="Config_\Diagnostics.config"></system.diagnostics>
  <system.codedom configSource="Config_\CodeDom.config"></system.codedom>
  <system.web>
    <customErrors mode="Off"/>
    <httpModules>
      <!--<add name="Themelia" type="Themelia.Web.CoreModule, Themelia.Web"/>-->
    </httpModules>
    <compilation debug="true">
      <assemblies>
        <add assembly="*" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableViewState="false">
      <controls>
        <add assembly="Minima.Web" namespace="Minima.Web.Controls" tagPrefix="minima"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <add name="Themelia" type="Themelia.Web.CoreModule, Themelia.Web" preCondition="" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <bindings>
      <ws2007HttpBinding>
        <binding name="MinimaSecureWs2007HttpBinding" maxReceivedMessageSize="5000000">
          <readerQuotas maxArrayLength="5000000" maxStringContentLength="5000000" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonCommentServiceBehavior">
          <webHttp />
        </behavior>
        <!---->
        <behavior name="FeedEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--for wpf captcha-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <client configSource="Config_\ServiceModel.Client.config" />
    <services>
      <service name="Minima.Web.Service.CommentService">
        <endpoint address="web" behaviorConfiguration="JsonCommentServiceBehavior" binding="webHttpBinding" contract="Minima.Web.Service.ICommentService"/>
      </service>
      <!---->
      <service name="Minima.Web.Service.FeedService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="FeedEndpointBehavior" contract="Minima.Web.Service.IFeedService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>