<appSettings>
  <add key="DefaultServiceUserName" value="dfb@davidbetz.net"/>
  <add key="DefaultServicePassword" value="mscw0000"/>
  <!---->
  <add key="AmazonAffiliate" value="SAMPLECODE"/>
  <add key="ForceSpecifiedPath" value="true"/>
  <add key="EnableTracingViaSerialization" value="true"/>
  <add key="ViewableBlogEntryCount" value="7"/>
  <add key="EnableEnhancedGmailSubjects" value="true"/>
  <add key="DefaultMaterialsPhysicalPath" value="C:\MinimaSupport\MMS\Material"/>
  <add key="MaterialsRelativePath" value="/Materials/"/>
  <add key="SupportImagePhysicalLocation" value="C:\MinimaSupport\MMS\Image"></add>
  <add key="SupportImageWebRelativePath" value="/Image/"/>
  <add key="RecentEntriesToShow" value="10"/>
  <add key="BlogEntriesToShowInFeed" value="7"/>
  <add key="BlankLabelMessage" value="There are no entries in this view."/>
  <add key="LinkAuthorToEmail" value="true"/>
  <add key="CommentNotificationSubject" value="New Comment on Blog"/>
  <add key="IncludeSiteNameInCommentNotificationSubject" value="true"/>
  <add key="SiteName" value="Minima Marketing Solutions"/>
  <add key="IndexHeadingSuffix" value="Year Review"/>
  <add key="ArchiveHeadingSuffix" value="Blog Posts"/>
  <add key="LabelHeadingSuffix" value="Label Contents"/>
  <!---->
  <add key="Domain" value="http://localhost:7001/"/>
  <!---->
  <add key="ActiveAuthorServiceEndpoint" value="AuthorServiceWs2007HttpBinding"/>
  <add key="ActiveBlogServiceEndpoint" value="BlogServiceWs2007HttpBinding"/>
  <add key="ActiveCommentServiceEndpoint" value="CommentServiceWs2007HttpBinding"/>
  <add key="ActiveImageServiceEndpoint" value="ImageServiceWs2007HttpBinding"/>
  <add key="ActiveLabelServiceEndpoint" value="LabelServiceWs2007HttpBinding"/>
</appSettings>