<connectionStrings>
  <add name="Minima.Web.Properties.Settings.MinimaConnectionString" connectionString="Data Source=DEDO204\SQLEXPRESS02;Initial Catalog=MinimaSample;Persist Security Info=True;User ID=MinimaWebDbUser;Password=dbwebpassword" providerName="System.Data.SqlClient"/>
</connectionStrings>