<client>
  <endpoint address="https://localhost/Author.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IAuthorService" name="AuthorServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
  
  <endpoint address="https://localhost/Blog.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IBlogService" name="BlogServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
  
  <endpoint address="https://localhost/Image.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.IImageService" name="ImageServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
  
  <endpoint address="https://localhost/Comment.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ICommentService" name="CommentServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
  
  <endpoint address="https://localhost/Label.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ILabelService" name="LabelServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
  
  <endpoint address="https://localhost/Technorati.svc" binding="ws2007HttpBinding" bindingConfiguration="MinimaSecureWs2007HttpBinding" contract="Minima.Service.ITechnoratiService" name="TechnoratiServiceWs2007HttpBinding">
    <identity>
      <dns value="ServerSide"/>
    </identity>
  </endpoint>
</client>