<themelia.system>
  <appInfo name="Minima WS Sample" />
  <reporting>
    <reporters>
      <add name="WebProcessingDebug" creator="Map" sender="EventLog" formatter="Wiki" enable="false" />
    </reporters>
  </reporting>
  <emailSetup server="" username="" password="" from="" to="">
    <parameters>
      <add name="GeneralTo" value=""></add>
      <add name="GeneralFrom" value=""></add>
      <add name="GeneralSubject" value=" Data"></add>
      <add name="GeneralPrefixWithSiteName" value="true"></add>
      <add name="ExceptionTo" value=""></add>
      <add name="ExceptionFrom" value=""></add>
      <add name="ExceptionSubject" value=" Exception"></add>
      <add name="ExceptionPrefixWithSiteName" value="true"></add>
      <add name="AlwaysUseSecureGmail" value="false"></add>
    </parameters>
  </emailSetup>
</themelia.system>