<themelia.web>
  <webDomains enableWebDomainMissingSlash="true">
    <add defaultPage="/Page_/Blog/Root.aspx" catchAllMode="DefaultPage">
      <components>
        <add key="Minima" type="Minima.Web.Processing.MinimaComponent, Minima.Web">
          <parameters>
            <add name="blogGuid" value="19277C41-7E4D-4AE0-A196-25F45AC48762" />
          </parameters>
        </add>
      </components>
      <endpoints>
        <add selector="WebDomainPathEquals" type="Service" text="/service/([a-z0-9]+)/([a-z0-9]+)" parameter="/Service_/$1.svc/web/$2" />
      </endpoints>
      <accessRules>
        <add type="IPAddress" text="127.0.0.1" actionType="Write" parameter="Your IP address has been blocked" disabled="true" />
      </accessRules>
    </add>
    <add name="second" path="/second/" defaultPage="/Page_/Blog/Second.aspx" catchAllMode="DefaultPage" basedOn="root">
      <components>
        <add key="Minima">
          <parameters>
            <add name="blogGuid" value="B23115B1-42E8-46A2-88DE-A56CE505E7D0" />
          </parameters>
        </add>
      </components>
    </add>
    <add name="proxy" path="/proxy/" defaultPage="~/Page_/Information/Proxy.aspx">
      <components>
        <add key="Minima" type="Minima.Web.Processing.MinimaProxyComponent, Minima.Web">
          <parameters>
            <add name="blogGuid" value="19277C41-7E4D-4AE0-A196-25F45AC48762" />
          </parameters>
        </add>
      </components>
    </add>
  </webDomains>
</themelia.web>