<themelia.web>
  <webDomains>
    <add>
      <components>
        <add key="Minima" type="Minima.Web.Routing.MinimaComponent, Minima.Web">
          <parameters>
            <add name="page" value="~/Page_/Blog/Root.aspx" />
            <add name="blogGuid" value="19277C41-7E4D-4AE0-A196-25F45AC48762" />
          </parameters>
        </add>
      </components>
      <accessDenials>
        <add name="local" type="address" text="127.0.0.1" message="Your IP address has been blocked" target="" enabled="false" />
      </accessDenials>
    </add>
    <add name="second" path="/second/" basedOn="root">
      <components>
        <add key="Minima">
          <parameters>
            <add name="page" value="~/Page_/Blog/Second.aspx" />
            <add name="blogGuid" value="B23115B1-42E8-46A2-88DE-A56CE505E7D0" />
          </parameters>
        </add>
      </components>
    </add>
    <add name="proxy" path="/proxy/" defaultPage="~/Page_/Information/Proxy.aspx">
      <components>
        <add key="Minima" type="Minima.Web.Routing.MinimaProxyComponent, Minima.Web" />
      </components>
    </add>
    <add name="viewer" path="/viewer/">
      <components>
        <add key="Minima" type="Minima.Web.Routing.MinimaViewerComponent, Minima.Web">
          <parameters>
            <add name="page" value="~/Page_/Information/Viewer.aspx" />
            <add name="blogGuid" value="19277C41-7E4D-4AE0-A196-25F45AC48762" />
          </parameters>
        </add>
      </components>
    </add>
  </webDomains>
</themelia.web>